---
layout: page
title: Personal
---

<div class="row">
{% for project in site.data.projects %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{{ project.link }}" class="thumbnail">
                <img class="img-responsive" src="{{ project.image }}" alt="">
            </a>
                <center>
                <h3>{{ project.name }}</h3>
                </center>
                <ul>
                    {% for dotPoints in project.descriptions %}
                    <li>{{ dotPoints }}</li>
                    {% endfor %}
                </ul>

        </div>
        </div>
    </div>
{% endfor %}
</div>