---
layout: page
title: Work
---

A lot of my projects are under NDA and can't be posted in public but the ones I can talk about are here.
<p>
    
{% for project in site.data.projects %}
{% if project.type == "work" %}
{% cycle 'add row' : '<div class="row">', '', '' %}
        <div class="col-sm-4">
            <div class="thumbnail">
                {% if project.linkname %}
                <a href="{{ project.linkname }}" class="thumbnail">
                {% else %}
                <a href="{{ project.name | downcase }}.html" class="thumbnail">
                {% endif %}
                <img class="img-thumbnail" style="height:300px" src="{{ project.image }}" alt="">
            </a>
                <center>
                <h3>{{ project.name }}</h3>
                </center>
                <ul>
                    {{ project.description }}
                </ul>
            </div>
        </div>
{% cycle 'end row' : '', '', '</div>' %}
{% endif %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>', '</div>' %}


