<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <h1>Nathan Hold</h1>
        </li>
        <li>
            <a href="index.html">Myself</a>
            <a href="personal.html">Personal Projects</a>
            <div class="pr"><a href="toasty.html">Toasty</a></div>
            <div class="pr"><a href="sfmlp.html">SFMLP</a></div>
            <div class="pr"><a href="ubdialogue.html">ubDialogue</a></div>
            <div class="pr"><a href="ubstatistics.html">ubStatistics</a></div>
            <div class="pr"><a href="elontrias.html">Elontrias</a></div>
            <div class="pr"><a href="tilemap.html">Unity Tile Map Editor</a></div>
            <div class="pr"><a href="prefabutility.html">Unity Prefab Creation Utility</a></div>
            <div class="pr"><a href="zombiezap.html">Zombie Zap</a></div>
            <div class="pr"><a href="astrojump.html">Astro Jump</a></div>
            <div class="pr"><a href="lootncrabs.html">Loot'n Crabs</a></div>
            <a href="workunity.html">Work Projects - Unity</a>
            <div class="pr"><a href="valkyrie.html">Valkyrie</a></div>
            <div class="pr"><a href="cupcakegame.html">Cupcake Game</a></div>
            <div class="pr"><a href="findersseekers.html">Finders Seekers</a></div>
            <div class="pr"><a href="hottail.html">Hot Tail</a></div>
            <div class="pr"><a href="photon.html">Photon</a></div>
            <div class="pr"><a href="hondahrv.html">Honda HR-V</a></div>
            <div class="pr"><a href="waterwheels.html">Water Wheels</a></div>
        </li>
    </ul>
</div>