<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.author.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css" />
		<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/bootstrap.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body>
        <header>
        </header>

         <div id="wrapper">
            {% include sidebar.html %}
            <div id="page-content-wrapper">
                
                <div class="alert alert-warning" role="alert">
                    This portfolio is currently being worked on!
                </div>
                
                <center><div class="circular"></div></center>

                <div class="triangle-up"></div>
            
                <div class="box">
                <main>
                    <center><h3>{{ title }}</h3></center>
                    {{ content }}

                </main>
                
                <footer>
                <hr />
                    <p>&copy; <time>2012</time> {{ site.author.name }}</p>
                </footer>
            </div>
        </div>

        <script src="{{site.baseurl}}/javascript/bootstrap.js"></script>
        <script src="{{site.baseurl}}/javascript/scripts.js"></script>
    </body>

</html>